
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Temperatura Diaria</h1>
        <form action="Temperatura" method="post">
            <div>
                <label>Temperatura Dia Lunes</label><br />
                <input type="text" name="txtLunes" placeholder="Temperatura ºc" />
            </div>
            <div>
                <label>Temperatura Dia Martes</label><br />
                <input type="text" name="txtMartes" placeholder="Temperatura ºc" />
            </div>
            <div>
                <label>Temperatura Dia Miercoles</label><br />
                <input type="text" name="txtMiercoles" placeholder="Temperatura ºc" />
            </div>
            <div>
                <label>Temperatura Dia Jueves</label><br />
                <input type="text" name="txtJueves" placeholder="Temperatura ºc" />
            </div>
            <div>
                <label>Temperatura Dia Viernes</label><br />
                <input type="text" name="txtViernes" placeholder="Temperatura ºc" />
            </div>
            <div>
                <label>Temperatura Dia Sabado</label><br />
                <input type="text" name="txtSabado" placeholder="Temperatura ºc" />
            </div>
            <div>
                <label>Temperatura Dia Domingo</label><br />
                <input type="text" name="txtDomingo" placeholder="Temperatura ºc" />
            </div>
            <br />
            <div>
                <input type="submit"  value="Calcular"/>
            </div>

        </form>
    </div>
</body>
</html>
