
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>apro</title>
</head>
<body>
    <div align="center"> 
        <i>@Model.comentario</i>
    </div>
</body>
</html>
