
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atleta</title>
</head>
<body>
    <div align="center"> 
        <h1>Formulario de Aprobacion al equipo de Baloncesto de El Salvador</h1>
        <form action="apro" method="post">
            <div>
                <input type="text" name="txtname" placeholder="Digite su Nombre"/>
            </div>
            <div>
                <input type="text" name="txtapellido" placeholder="Digite su Apellido" />
            </div>
            <div>
                <input type="text" name="txtedad" placeholder="Digite Edad" />
            </div>
            <div>
                <input type="text" name="txtpeso" placeholder="Digite su Peso en Kg" />
            </div>
            <div>
                <input type="text" name="txtesta" placeholder="Digite su estatura en cm" />
            </div>
            <div>
                <input type="submit" value="Verificar"/>
            </div>
        </form>
    </div>
</body>
</html>
